<%= content_for :breadcrumb do %>
	<ul class="breadcrumb">
		<li><i class="icon-home"></i> <a href="<%= root_path %>">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
		<li class="active">Task</li>
	</ul><!--.breadcrumb-->
<% end %>

<% content_for :header do %>
	<div class="page-header position-relative inline">
		<h1 class="span9">Task Details</h1>
		<span class="pull-right">
			<a class="btn btn-primary btn-small" href="<%= edit_task_path %>"><i class="icon-edit"></i>Edit</a>
			<a class="btn btn-primary btn-small" href="<%= new_task_path %>"><i class="icon-check"></i>Rate</a>
		</span>
	</div><!--/page-header-->
<% end %>

<div class="dialogs">
	<div class="itemdiv dialogdiv">
		<div class="user">
			<%= image_tag 'avatar4.png'%>
		</div>
		
		<div class="body">
			<div class="name"><%= link_to @task.assignee.name, '#'%> assigned to <%= link_to @task.report_person.name, '#'%> <%= time_ago_in_words(@task.created_at) %> ago</div>
			<div class="text" style="margin-top:5px;"><h3><%= @task.title %></h3></div>
			<div class="text" style="margin-top:10px;"><%= @task.description %></div>
		</div>
	</div>


	<div class="itemdiv dialogdiv">
		<div class="user">
			<%= image_tag 'avatar.png'%>
		</div>
		
		<div class="body">
			<div class="name"><a href="#">Vishal</a> comments</div>
			<div class="text">Sanjay, Can you please refer to some cap script that you already wrote for any project. Otherwise please paste some code over here. i'll refer that.</div>
		</div>
	</div>


	<div class="itemdiv dialogdiv">
		<div class="user">
			<%= image_tag 'avatar4.png'%>
		</div>
		
		<div class="body well">
			<form>
				<div class="input-append">
					<input placeholder="Type your message here ..." type="text" class="input-xxlarge" name="message" />
					<button class="btn btn-small btn-info no-radius" onclick="return false;"><i class="icon-share-alt"></i> <span class="hidden-phone">Send</span></button>
				</div>
			</form>
		</div>
	</div>

</div>


<%= content_for :page_specific_scripts do %>
	<%= javascript_include_tag "bootstrap-timepicker.min" %>
<% end %>

<%= content_for :inline_scripts do %>
	<script type='text/javascript'>
		window.onload = function() {
			
		};
		$('#task_estimate_time').timepicker({
			minuteStep: 1,
			showMeridian: false
		});
	</script>
<% end %>
